body {
  text-align: center;
  font-family: 'Fantasque Sans Mono', monospace;
  transition: 1s ease;
}

#wrapper {
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#text {
  font-size: 5em;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  a {
    color: inherit;
  }
}