body {
  text-align: center;
  font-family: 'Fantasque Sans Mono', monospace;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#wrapper {
  margin: 10em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#text {
  font-size: 5em;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

footer a {
  color: inherit;
}
/*# sourceMappingURL=styles.css.map */